@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width:thin;
}
a{
    text-decoration: inherit;
    color:inherit;
}
.app{
    border: 8px solid rgba(189, 184, 184,0.8);
    height:98.5vh;
    background: URL(https://media.istockphoto.com/id/494094966/vector/question-mark-3d-seamless-wallpaper-pattern.jpg?s=612x612&w=0&k=20&c=u56aWdaxkF1T4k745zLP3egh7scxb4FjwaNpZpiLA44=);
    padding:5px;
    margin: 5px;
    padding:5px;
}

@media screen and (max-width:1200px){
    .app{
        height:fit-content;
    }
}